# Environnement virtuel
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/

# Base de données
*.db
*.sqlite
*.sqlite3

# Variables d'environnement
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# Uploads
uploads/

# OS
.DS_Store
Thumbs.db

# Tests
.pytest_cache/
.coverage
htmlcov/
